<h1>Sound Share</h1>
  
  <% @posts.each do |post| %>
    <%= post.id%>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </br>
  <% end %>

<%= link_to 'New Post', new_post_path %>
