<h1>Sound Share</h1>
  
  <% @posts.each do |post| %>
    <%= post.id%>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </br>
  <% end %>

<%= link_to 'Upload A Song', new_post_path %> </br>
<%= link_to 'All Songs', posts_path %> </br>

<%= link_to 'Sign In', new_user_session_path %> </br>
<%= link_to 'Sign Up', new_user_registration_path %> </br>