<div class='navbar navbar-fixed-top'>
	<div class='navbar-inner'>
		<div class='container'>


			<a href='/' class='brand'>SoundShare</a>


			<ul class='nav pull-right'>
				<% if user_signed_in? %>
					<div class="btn-group">
					  <button class="btn"><%= current_user.full_name %></button>
					  	<button class="btn dropdown-toggle" data-toggle="dropdown">
					    	<span class="caret"></span>
					    </button>
					  </button>
					  <ul class="dropdown-menu pull-right">
					    <li><%= link_to 'Add A Song', new_post_path%></li>
					    <li><%= link_to 'Followers', '#'%></li>
					    <li><%= link_to 'Follows', '#'%></li>
					    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
					  </ul>
					</div>
				<%else%>
					<li><%= link_to 'Sign In', new_user_session_path %></li>
				<%end%>
			</ul>
		</div>
	</div>
</div>